<h1 class="mx-auto my-0 text-uppercase">Kristo Eek</h1>
<h2 class="text-white-50 mx-auto mt-2 mb-5">My portfolio which is built on Rails.</h2>
<a href="#about" class="btn btn-primary js-scroll-trigger">Learn more</a>


