
<h2 class="text-white-50 mx-auto mt-2 mb-5">An artist is not paid for his labor but for his Vision.<br>Powered by Rails.</h2>

<%= link_to "Learn More", about_me_path, :anchor => "about", class: 'btn btn-primary js-scroll-trigger' %>


